#Encabezado{
    height: 30%;
    background: #FFC3EC; 
    }
    
 section{
    background: rgb(215, 243, 245);
    height: 60%;
 }
 
 footer{
    background-color: #ECD8FA;
    height: 10%;
    text-align: center;
 
 }
 
 p50{
   font-family: cursive;
   font-size: 100%;
   color: white;
 
 }
 
 #botondebusqueda{
   color: rebeccapurple;
   background: honeydew;
   padding: 10px;
   margin-left: 50%;
   border: 1px;
   position: center ;
   align-items: flex-start ;
 
 }
 #logoempresa{
    padding-inline-start: 5%;
    width: 20%; 
    height: 100%;
}